@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
    --preto: #000;
    --branco: #fff;
    --azul-escuro: #0C2847;
    --azul-claro: #405E7A;
    --azul-gelo: #9EB3CA;
    --cinza-claro: #D3DAE4;
  }

  @keyframes efeito-onda {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    background:var(--preto);
    margin: 0;
}

/* ********************************** */
/*         Container Global           */
/* ********************************** */

.container-navbar-mobile{
    display: none;
}

a{
    color: var(--branco);
    text-decoration: none;
}

h5{
    margin: 0px;    
}

.secao-flex{
    display: flex;
    align-items: center;
}

.secao-grid{
    display: grid;
    align-items: center;
}

.tamanho-60{
    width: 60%;
}

.tamanho-40{
    width: 40%;
}

.espacamento-container{
    padding: 1rem 0.5rem 0.7rem 0.5rem;
}

/* ********************************** */
/*         Container Lateral          */
/* ********************************** */
.container-menu-lateral {
    width: 25%;
    height: 90%;
    /* border: 0.1rem solid var(--branco); */
    background: var(--azul-escuro);
    color: var(--branco);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0rem 0.01rem 0.124rem 0rem var(--azul-claro);
}

.container-menu-lateral .logo {
    width: 10rem;
}

.container-logo{
    text-align: center;
}

.container-menu-lateral .container-botoes{
    box-shadow: 0rem 0.01rem 0rem 0rem var(--azul-claro);
    padding-bottom: 0.4rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
}

/* Botao Inicio e Feedback */
.container-menu-lateral .container-botoes h4{
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--cinza-claro);
    cursor: pointer;
    transition: .1s linear;
}

/* Label Destaques */
.container-menu-lateral .container-botoes h4:hover{
    color: var(--cinza-claro);
}

/* Icones dos Botoes e Label Destaques */
.container-menu-lateral .container-botoes h4 .bi {
    padding-right: 1.0rem;
}

.container-menu-lateral  h3 .bi {
    padding-right: 1.0rem;
}

/* Playlists do Destaques */
.container-menu-lateral .container-destaques {
    /* border: 0.1rem solid var(--branco); */
    margin-top: 1.25rem;
    overflow:auto;
}

/* Cards Playlists Destaques */
.container-menu-lateral .container-destaques li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: .1s linear;
    box-shadow: 0rem 0.01rem 0rem 0rem var(--azul-claro);
    padding-bottom: 0.5rem;
}

.container-menu-lateral .container-destaques li:hover {
    background: var(--cinza-transparente);
}

.container-menu-lateral .container-destaques li img {
    width: 2rem;
    height: 2rem;
}

.container-menu-lateral .container-destaques li h5 {
    font-size: 0.7rem;
    margin-left: 1rem;
    width: 60%;
    /* border: 0.1rem solid var(--branco); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-menu-lateral .container-destaques li h5 .categoria {
    font-size: 0.6rem;
    color: var(--cinza-claro);
}

.container-menu-lateral .container-destaques li .bi {
    position: absolute;
    right: 0.6rem;
}

.container-menu-lateral h3 {
    font-size: 1rem;
    padding-top: 1.2rem;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
.container-menu-lateral .container-destaques::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
.container-menu-lateral .container-destaques {
    scrollbar-width: none;
}


/* ********************************** */
/*         Container Conteúdo         */
/* ********************************** */
.container-barra-superior{
    width: 75%;
    height: 10%;
    position: fixed;
    right: 0;
    display: flex;
    background-color: var(--azul-claro);
    align-items: center;
    justify-content: space-between;
}

.titulo-barra-superior {
    padding: 0rem 1rem 0rem 1rem;
}

.titulo-barra-superior h1{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.pesquisa-barra-superior{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pesquisa-barra-superior input{
    border-radius: 4rem;
    border: 0;
    padding: 1rem;
}

.pesquisa-barra-superior button{
    margin-right: 1rem;
    border-radius: 4rem;
    border: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
}


/* ********************************** */
/*          Container Player          */
/* ********************************** */
.player {
    width: 100%;
    height: 10%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-claro);
    box-shadow: 0px 3px 8px var(--azul-claro);
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 10;
    justify-content: space-between;
}

.player .container-onda-sonora {
    width: 1.5rem;
    /* border: 1px solid var(--branco); */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.player .container-onda-sonora .onda-sonora1 {
    width: 3px;
    height: 10px;
    background: var(--azul-claro);
    display: flex;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: efeito-onda .5s linear infinite;

}

.player .container-onda-sonora .onda-sonora1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

.player .container-onda-sonora .onda-sonora1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;

}

.player .img-audio-player {
    width: 3rem;
}

.player h5 {
    font-size: 13px;
    width: 50%;
    color: var(--branco);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1rem;
}

.player h5 .autor-audio {
    font-size: 11px;
    width: 100%;
    color: var(--cinza-claro);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player .icones-player {
    font-size: 1.5rem;
    gap: 1rem;
    color: var(--branco);
    outline: none;
    display: flex;
    align-items: center;    
    justify-self: center;
}

.player .icones-player .bi {
    outline: none;
    cursor: pointer;    
}

.player span {
    font-size: 0.8rem;
    font-weight: 400;
    width: 2rem;
    color: var(--branco);
}

.player .container-barra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player .barra-tempo{
    position: relative;
    padding-left: 80%;
    height: 0.1rem;
    background: var(--cinza-claro);
}

.player .barra-tempo .barra-tempo-crescente {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--azul-claro);
    top: 0;
    transition: 1s linear;
}

.player .barra-tempo input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999999999999999999999999;
    /* transition: 3s linear; */
}

.container-player{
    justify-items: right;
}

.container-temporizador{
    width: 100%;
    justify-content: space-between;
}




/* ************************************ */
/* ************************************ */
/* ************************************ */
/*          Container Playlist          */
/* ************************************ */
/* ************************************ */
/* ************************************ */

.conteudo{
    width: 75%;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    bottom: 10%;
    color: var(--branco);
    background-color: var(--azul-escuro);
}

.secao-flex{
    display: flex;
}
.secao-grid{
    display: grid;
}
.tamanho-30{
    width: 30%;
}
.tamanho-60{
    width: 60%;
}
.tamanho-20{
    width: 20%;
}
.tamanho-10{
    width: 5rem;
}
.tamanho-80{
    width: 80%;
}
.tamanho-100{
    width: 100%;
}
.botao-play{
    width: 4rem;
}
.centralizar{
    align-items: center;
}
.alinhar-direita{
    justify-content: right;
    text-align: right;
}
.alinhar-vertical{
    vertical-align: bottom;
}
.espacamento-section{
    padding-bottom: 1rem;
}


/* ------------------------- */
/*  Secao audios da playlist */
/* ------------------------- */
.informacoes-playlist{
    padding: 0.5rem 0.6rem 0.5rem 2.5rem;
}
.nome-audio{
    font-size: 1.3rem;
    padding: 0rem 0.5rem 0rem 0.8rem;
}
.espacamento-audios{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}
.rolagem-vertical{
    overflow:auto;
    overflow-x:hidden;
    scrollbar-width: none;
    list-style-type: none;
    align-items: center;
    position: relative;
}


/* ------------------------ */
/*  Secao nome da playlist  */
/* ------------------------ */
.bi-share {
    padding: 0.5rem;
}

.titulo-playlist{
    font-size: 2.5rem;
    margin: 0.5em 0em 0.5em 0em
}

.personalizacao-select{
    border-radius: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
    font-size: 0.8rem;
}

.section-mobile{
    display: none;
    justify-content: center;
}

.imagem-playlist{
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    .section-mobile{
        display: flex;
    }
    .informacoes-playlist{
        width: 70%;
        padding: 0.5rem 0.6rem 0.5rem 0rem;
    }
    .imagem-playlist{
        display: none;
    }
    .titulo-playlist {
        font-size: 1.9rem;
    }
    .nome-audio {
        font-size: 1rem;
    }
    .botao-compartilhar{
        display: none;
    }
    .secao-filtro{
        width: 30%;
    }
}

@media (max-width: 900px) and (min-width: 701px){
    .titulo-playlist{
        font-size: 2rem;
    }
    .botao-play{
        width: 3rem;
    }
    .nome-audio {
        font-size: 1.2rem;
    }
    .botao-compartilhar{
        display: none;
    }
    .informacoes-playlist{
        width: 80%;
    }
}



/* ************************************ */
/* ************************************ */
/* ************************************ */
/*         Container feedback           */
/* ************************************ */
/* ************************************ */
/* ************************************ */

.logo-feedback{
    height: 1.2rem;
    margin: 15px 0px 0px 20px;
}

.container-titulo-subtitlo{
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 12px ;
}

.container-form {
    border-radius: 5px;
    background-color: var(--azul-marinho);
    padding: 20px;
}

.form{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-nome, .container-email, .container-msg {
    padding-top: 1rem;
}

.container-btn-enviar{
    display: flex;
    justify-content: center;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--cinza-medio);
    box-shadow: 0px 1px 0px 0px rgb(192, 192, 192);
    box-sizing: border-box;
    resize: vertical;
}

textarea  {
    height:150px;
}

input[type=submit] {
    background-color: var(--branco);
    /* color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--cinza-claro);

}

/* Altera os ícones de preenchimento válido e inválido dos campos */
.container-form input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
  }
  
  .container-form input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }

  .container-form textarea:required:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
  }
  
  .container-form textarea:required:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }

/* Fonte do título e texto do alerta */
.swal-title, .swal-text {
    font-family: 'Nunito', sans-serif;
}


/* ************************************ */
/* ************************************ */
/* ************************************ */
/*         Container playlists          */
/* ************************************ */
/* ************************************ */
/* ************************************ */



.container-conteudo {
    /* border: 1px solid var(--branco); */
    background: var(--azul-escuro);
    box-shadow: 0.1rem 0rem 0.1rem var(--azul-claro);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.botao-filtro{
    margin: 10px;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
    border-radius: 4rem;
	background-color: #f0f0f0;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.filtro-playlists-navegacao{
	display: flex;
	overflow: hidden;
	white-space: nowrap;
}

.tamanho-total{
    flex: 1; /* Faz o contêiner ocupar todo o espaço disponível */
	overflow: hidden; /* Impede a quebra de linha */
}

.container-filtros {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    }

.filtros{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
}

.item-filtro {
    border: 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

.cartoes-playlists{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1.4rem;
    padding: 1.6rem;
    overflow:auto;
    overflow-x:hidden;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
.cartoes-playlists::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
.cartoes-playlists {
    scrollbar-width: none;
}

.cartao {
    background-color: #181818;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
    border-radius: 0.8rem;
    cursor: pointer;
	position: relative;
    display: flex;
}

.cartao:hover{
background-color: #282828;
}

.imagem-cartao img{
    border-radius: 0.5rem;
    /* border-radius: 0.8rem 0rem 0rem 0.8rem; */
    width: 6rem;
    align-self: center;
}

.imagem-cartao{
    align-self: center;
    padding: 0.5rem;
    display: flex;
}

.texto-cartao{
    color: var(--branco);
    padding-left: 1rem;
}

.texto-cartao h2{
    font-size: 16px;
}

.texto-cartao p{
    font-size: 14px;
}


/*   Versão mobile   */
@media (max-width: 1000px) {
    .conteudo{
        height: 72%;
        bottom: 18%;
    }

    .container-menu-lateral {
        display: none !important;
    }
    .container-conteudo {
        width: 100% !important;
    }
    .container-navbar-mobile {
        width: 100%;
        height: 8%;
        background: var(--azul-escuro);
        left: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
    }
    
    .botoes-navbar-mobile{
        width: 33%;
        text-align: center;
    }

    .botao-navbar-mobile{
        padding: 5% 10% 5% 10%;
        width: 80%;
        border-radius: 2rem;
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        color: var(--branco);
        background-color: var(--azul-escuro);
    }
    .conteudo {
        width: 100%;
    }
    .player {
        bottom: 8% !important;
        box-shadow: none;
    }

    .container-barra-superior{
        width: 100%;
        height: 10%;
        position: fixed;
        z-index: 10;
        left: 0;
    }
}