@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
    --preto: #000;
    --branco: #fff;
    --azul-escuro: #0C2847;
    --azul-claro: #405E7A;
    --azul-gelo: #9EB3CA;
    --cinza-claro: #D3DAE4;
  }

  @keyframes efeito-onda {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    background:var(--preto);
}

/* ********************************** */
/*         Container Global           */
/* ********************************** */

h5{
    margin: 0px;    
}

.secao-flex{
    display: flex;
    align-items: center;
}

/* ********************************** */
/*         Container Lateral          */
/* ********************************** */
.container-menu-lateral {
    width: 25%;
    /* border: 0.1rem solid var(--branco); */
    background: var(--azul-escuro);
    color: var(--branco);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    padding: 1rem 0rem 0.7rem 0.5rem;
    box-shadow: 0rem 0.01rem 0.124rem 0rem var(--azul-claro);

}

.container-menu-lateral .logo {
    width: 12rem;
}

.container-logo{
    text-align: center;
    padding-right: 0.5rem;
}

.container-menu-lateral .container-botoes{
    box-shadow: 0rem 0.01rem 0rem 0rem var(--azul-claro);
    padding-bottom: 0.4rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
}

/* Botao Inicio e Feedback */
.container-menu-lateral .container-botoes h4{
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--cinza-claro);
    cursor: pointer;
    transition: .1s linear;
}

/* Label Destaques */
.container-menu-lateral .container-botoes h4:hover{
    color: var(--cinza-claro);
}

/* Icones dos Botoes e Label Destaques */
.container-menu-lateral .container-botoes h4 .bi {
    padding-right: 1.0rem;
}

.container-menu-lateral  h3 .bi {
    padding-right: 1.0rem;
}

/* Playlists do Destaques */
.container-menu-lateral .container-destaques {
    /* border: 0.1rem solid var(--branco); */
    margin-top: 1.25rem;
    overflow:auto;
}

/* Cards Playlists Destaques */
.container-menu-lateral .container-destaques li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: .1s linear;
    box-shadow: 0rem 0.01rem 0rem 0rem var(--azul-claro);
    padding-bottom: 0.5rem;
}

.container-menu-lateral .container-destaques li:hover {
    background: var(--cinza-transparente);
}

.container-menu-lateral .container-destaques li img {
    width: 2rem;
    height: 2rem;
}

.container-menu-lateral .container-destaques li h5 {
    font-size: 0.7rem;
    margin-left: 1rem;
    width: 60%;
    /* border: 0.1rem solid var(--branco); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-menu-lateral .container-destaques li h5 .categoria {
    font-size: 0.6rem;
    color: var(--cinza-claro);
}

.container-menu-lateral .container-destaques li .bi {
    position: absolute;
    right: 0.6rem;
}

.container-menu-lateral h3 {
    font-size: 1rem;
    padding-top: 1.2rem;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
.container-menu-lateral .container-destaques::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
.container-menu-lateral .container-destaques {
    scrollbar-width: none;
}


/* ********************************** */
/*         Container Conteúdo         */
/* ********************************** */
.container-barra-superior{
    width: 75%;
    height: 10%;
    position: fixed;
    z-index: 10;
    left: 25%;
}

.container-conteudo {
    width: 75%;
    height: 90%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-escuro);
    box-shadow: 5px 0px 2px var(--azul-sombra);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.barra-superior {
	display: flex;
	padding: 1rem;
    background-color: var(--azul-sombra);
    align-items: center;
    justify-content: space-between;
}

.titulo-barra-superior {
    display: flex;
    gap: 3rem;
    padding-right: 1rem;
}

.titulo-barra-superior h1{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.pesquisa-barra-superior{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pesquisa-barra-superior input{
    width: 100%;
    height: 2rem;
    border-radius: 4rem;
    border: 0.1px;
    padding: 1rem;
}

.pesquisa-barra-superior button{
    height: 2rem;
    border-radius: 4rem;
    border: 0.1px;
    padding: 1rem;
    height: 2rem;
    align-content: center;
    display: flex;
    align-items: center;
}