@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
    --preto: #000;
    --cinza-escuro: #121213;
    --cinza-medio: #232323;
    --cinza-claro: #4c5262;
    --cinza-transparente: #6969691a;
    --branco: #fff;
    --azul-marinho: #111727;
    --azul-escuro: #0b1320;
    --azul-sombra: #090f1f;
    --azul-claro: #36e2ec;
  }

  @keyframes efeito-onda {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    background:var(--cinza-escuro);
    display: flex;
    place-items: center;
}

/* ********************************** */
/*         Container Global           */
/* ********************************** */
header {
    width: 100%;
    height: 100%;
    /* border: 1px solid var(--branco); */
    display: flex;
    flex-wrap: wrap; /*Para que o player desça*/
}

/* ********************************** */
/*         Container Lateral          */
/* ********************************** */
header .container-menu-lateral {
    width: 25%;
    height: 90%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-marinho);
    display: flex;
    flex-direction: column;
    color: var(--branco);
}

header .container-menu-lateral .logo-png {
    height: 1.2rem;
    margin: 15px 0px 0px 20px;

}

header .container-menu-lateral .container-botoes{
    margin: 40px 0px 0px 20px;
    box-shadow: 0px 1px 0px 0px var(--azul-sombra)

}

header .container-menu-lateral .container-botoes h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: var(--cinza-claro);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
    margin: 15px 0px 0px 0px;
}

header .container-menu-lateral .container-botoes h4:hover{
    color: var(--branco);
}

header .container-menu-lateral .container-botoes h4 span{
    position: relative;
    margin-right: 35px;
}

/*Forma o ponto antes o texto do botão*/
header .container-menu-lateral .container-botoes h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid var(--cinza-claro);
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .container-menu-lateral .container-botoes h4:hover span::before{
    border: 2px solid var(--branco);
}

header .container-menu-lateral .container-botoes h4 .bi {
    display: none;
}

header .container-menu-lateral .container-botoes .ativo {
    color: var(--azul-claro);
}

header .container-menu-lateral .container-botoes .ativo span {
    display: none;
}

header .container-menu-lateral .container-botoes .ativo .bi {
    display: flex;
    margin-right: 20px;
}

header .container-menu-lateral .container-destaques {
    width: 100%;
    height: 420px;
    /* border: 1px solid var(--branco); */
    margin-top: 20px;
    overflow:auto;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
header .container-menu-lateral .container-destaques::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
header .container-menu-lateral .container-destaques {
    scrollbar-width: none;
}

header .container-menu-lateral .container-destaques li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    box-shadow: 0px 1px 0px 0px var(--azul-sombra)

}

header .container-menu-lateral .container-destaques li:hover {
    background: var(--cinza-transparente);
}

header .container-menu-lateral .container-destaques li span {
    font-size: 12px;
    font-weight: 600;
    color: var(--cinza-claro);
}

header .container-menu-lateral .container-destaques li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .container-menu-lateral .container-destaques li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid var(--branco); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .container-menu-lateral .container-destaques li h5 .autor {
    font-size: 9px;
    color: var(--cinza-claro);
}

header .container-menu-lateral .container-destaques li .bi {
    position: absolute;
    right: 10px;
}


header .container-menu-lateral h3 {
    font-size: 16px;
    padding: 20px 0px 0px 20px;
    margin: 10px 0px 5px

}

/* ********************************** */
/*         Container Conteúdo         */
/* ********************************** */
header .container-conteudo {
    width: 75%;
    height: 90%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-escuro);
    box-shadow: 5px 0px 2px var(--azul-sombra);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.barra-superior {
	display: flex;
	padding: 1rem;
    background-color: var(--azul-sombra);
    align-items: center;
    justify-content: space-between;
}

.titulo-barra-superior {
    display: flex;
    gap: 3rem;
    padding-right: 1rem;
}

.titulo-barra-superior h1{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.pesquisa-barra-superior{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pesquisa-barra-superior input{
    width: 100%;
    height: 2rem;
    border-radius: 4rem;
    border: 0.1px;
    padding: 1rem;
}

.pesquisa-barra-superior button{
    height: 2rem;
    border-radius: 4rem;
    border: 0.1px;
    padding: 1rem;
    height: 2rem;
    align-content: center;
    display: flex;
    align-items: center;
}

.botao-filtro{
    margin: 10px;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
    border-radius: 4rem;
	background-color: #f0f0f0;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.botao-filtro-playlists{
    cursor: pointer;
	padding: 1px 6px 1px 6px;
	background-color: #f0f0f0;
    border-radius: 4rem;
	border: 1px solid #ccc;
	margin: 5px;
    font-family: 'Nunito', sans-serif;
}

.filtro-playlists-navegacao{
	display: flex;
	overflow: hidden;
	white-space: nowrap;
}

.tamanho-total{
    flex: 1; /* Faz o contêiner ocupar todo o espaço disponível */
	overflow: hidden; /* Impede a quebra de linha */
}

.filtro-playlists{
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
	align-items: center;
}

.cartoes-playlists{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1.4rem;
    padding: 1.6rem;
    overflow:auto;
    overflow-x:hidden;
    height: 33rem;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
.cartoes-playlists::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
.cartoes-playlists {
    scrollbar-width: none;
}

.cartao {
    background-color: #181818;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
    border-radius: 0.8rem;
    cursor: pointer;
	position: relative;
    display: flex;
}

.cartao:hover{
background-color: #282828;
}

.imagem-cartao img{
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    width: 6rem;
}

.texto-cartao{
    width: 70%;
	padding: 5%;
	align-items: center;
	display: grid;
    color: var(--branco);
}

.texto-cartao hr{
    opacity: 50%;
    height: 0.1rem;
}

.texto-cartao h2{
    font-size: 16px;
}

.texto-cartao p{
    font-size: 14px;
}

/* ********************************** */
/*          Container Player          */
/* ********************************** */
header .container-player {
    width: 100%;
    height: 10%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-marinho);
    box-shadow: 0px 3px 8px var(--azul-sombra);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

header .container-player .container-onda-sonora {
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--branco); */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .container-player .container-onda-sonora .onda-sonora1 {
    width: 3px;
    height: 10px;
    background: var(--azul-claro);
    display: flex;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: efeito-onda .5s linear infinite;

}

header .container-player .container-onda-sonora .onda-sonora1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .container-player .container-onda-sonora .onda-sonora1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;

}

/* ********************************** */
/*      Container Navbar Mobile       */
/* ********************************** */
.container-navbar-mobile {
    display: none;
}

/* ********************************** */
/*            Versão Mobile           */
/* ********************************** */
@media (max-width: 740px) {
    .container-menu-lateral {
        display: none !important;
    }
    .container-conteudo {
        width: 100% !important;
    }
    .container-navbar-mobile {
        width: 100%;
        height: 9%;
        background: var(--cinza-escuro);
        box-shadow: 0px 3px 8px var(--azul-sombra);
        padding: 0px 30px;
        left: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
    }
    
    .botoes-navbar-mobile{
    }

    .botao-navbar-mobile{
        padding: 5px 10px;
        margin: 0px 5px 0px 5px;

    }

    header .container-player {
        bottom: 9% !important;
    }
}

