@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
    --preto: #000;
    --cinza-escuro: #121213;
    --cinza-medio: #232323;
    --cinza-claro: #4c5262;
    --cinza-transparente: #6969691a;
    --branco: #fff;
    --azul-marinho: #111727;
    --azul-escuro: #0b1320;
    --azul-sombra: #090f1f;
    --azul-claro: #36e2ec;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;
    background:var(--cinza-escuro);
    display: grid;
    place-items: center;
}

/* ********************************** */
/*         Container Global           */
/* ********************************** */
header {
    width: 90%;
    height: 95%;
    /* border: 1px solid var(--branco); */
    display: flex;
    flex-wrap: wrap; /*Para que o player desça*/
}

/* ********************************** */
/*         Container Lateral          */
/* ********************************** */
header .container-menu-lateral {
    width: 25%;
    height: 90%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-marinho);
    display: flex;
    flex-direction: column;
    color: var(--branco);
}

header .container-menu-lateral .logo-png {
    height: 1.2rem;
    margin: 15px 0px 0px 20px;

}

header .container-menu-lateral .container-botoes{
    margin: 40px 0px 0px 20px;
    box-shadow: 0px 1px 0px 0px var(--azul-sombra)

}

header .container-menu-lateral .container-botoes h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: var(--cinza-claro);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
    margin: 15px 0px 0px 0px;
}

header .container-menu-lateral .container-botoes h4:hover{
    color: var(--branco);
}

header .container-menu-lateral .container-botoes h4 span{
    position: relative;
    margin-right: 35px;
}

/*Forma o ponto antes o texto do botão*/
header .container-menu-lateral .container-botoes h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid var(--cinza-claro);
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .container-menu-lateral .container-botoes h4:hover span::before{
    border: 2px solid var(--branco);
}

header .container-menu-lateral .container-botoes h4 .bi {
    display: none;
}

header .container-menu-lateral .container-botoes .ativo {
    color: var(--azul-claro);
}

header .container-menu-lateral .container-botoes .ativo span {
    display: none;
}

header .container-menu-lateral .container-botoes .ativo .bi {
    display: flex;
    margin-right: 20px;
}

header .container-menu-lateral .container-destaques {
    width: 100%;
    height: 420px;
    /* border: 1px solid var(--branco); */
    margin-top: 40px;
    overflow:auto;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
header .container-menu-lateral .container-destaques::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
header .container-menu-lateral .container-destaques {
    scrollbar-width: none;
}

header .container-menu-lateral .container-destaques li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
    box-shadow: 0px 1px 0px 0px var(--azul-sombra)

}

header .container-menu-lateral .container-destaques li:hover {
    background: var(--cinza-transparente);
}

header .container-menu-lateral .container-destaques li span {
    font-size: 12px;
    font-weight: 600;
    color: var(--cinza-claro);
}

header .container-menu-lateral .container-destaques li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .container-menu-lateral .container-destaques li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid var(--branco); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .container-menu-lateral .container-destaques li h5 .autor {
    font-size: 9px;
    color: var(--cinza-claro);
}

header .container-menu-lateral .container-destaques li .bi {
    position: absolute;
    right: 10px;
}


header .container-menu-lateral .container-destaques h3 {
    font-size: 16px;
    padding: 5px 0px 5px 20px;
    margin: 0px 0px 15px

}

/* ********************************** */
/*         Container Conteúdo         */
/* ********************************** */
header .container-conteudo {
    width: 75%;
    height: 90%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-escuro);
    box-shadow: 5px 0px 2px var(--azul-sombra);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.barra-superior {
	display: flex;
	padding: 1rem;
    background-color: var(--azul-sombra);
    align-items: center;
    justify-content: space-between;
}

.titulo-barra-superior {
    display: flex;
    gap: 3rem;
}

.titulo-barra-superior h1{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.pesquisa-barra-superior{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.pesquisa-barra-superior input{
    width: 18rem;
    height: 2.5rem;
    border-radius: 4rem;
    padding: 1rem;
}

.cartoes-playlists{
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1.4rem;
    padding: 1.6rem;
    overflow:auto;
    overflow-x:hidden;
}

/*Estilizar barra de rolagem em navegadores Chromium e WebKit*/
.cartoes-playlists::-webkit-scrollbar {
    display: none;
}
/*Estilizar barra de rolagem em navegadores Gecko-based*/
.cartoes-playlists {
    scrollbar-width: none;
}

.cartao {
    background-color: #181818;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
    border-radius: 0.8rem;
    cursor: pointer;
	position: relative;
    display: flex;
}

.cartao:hover{
background-color: #282828;
}

.imagem-cartao img{
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    width: 6rem;
}

.texto-cartao{
    width: 70%;
	padding: 5%;
	align-items: center;
	display: grid;
    color: var(--branco);
}

.texto-cartao hr{
    opacity: 50%;
    height: 0.1rem;
}

/* ********************************** */
/*          Container Player          */
/* ********************************** */
header .container-player {
    width: 100%;
    height: 10%;
    /* border: 1px solid var(--branco); */
    background: var(--azul-marinho);
    box-shadow: 0px 3px 8px var(--azul-sombra);
}
